@media screen and(max-width:360px){

}
@media screen and(max-width: 600px) {
  .navbar-collapse{
    overflow-y: auto;
  }
  .navbar-nav-k {
    height: 100vh;
    padding-top: 1.5rem;
  }
  .navbar-k .navbar-nav .nav-link-k {
    font-size: 0.875rem;
    padding: 1rem;
  }
  .header{
    background-color: var(--black-two);
  }
  .banner{
    height: 100vh;
  }
  .banner-commun{
    background-position-x: 62%;
    height: 340px;
    margin-top: 72px;
  }
  .banner-subtitle{
    font-size: 1rem;
    text-align: center;
  }
  .banner-title{
    font-size: 1.5rem;
    text-align: center;
  }
  .btn-banner{
    margin: 0 auto 1rem;
  }
  .section-commun{
    padding: 4rem 0;
  }
  .pad-right-5{
    margin-bottom: 1rem;
    padding: 0;
  }
  .title-primary{
    font-size: 1.5rem;
  }
  .box-bg-6{
    padding: 2rem 1rem;
  }
  .flex-diagonal{
    flex-direction: column-reverse;
  }
  .flex-diagonal_direction{
    flex-direction: column;
  }
  .flex-diagonal_text{
    padding: 2rem 1rem;
    width: 100%;
  }
  .flex-diagonal_picture{
    width: 100%;

    img{
      clip-path: initial;
    }
  }

  .info-circle .outer-circle {
    width: 320px;
    height: 320px;
  }
  .info-circle .inner-circle {
    width: 300px;
    height: 300px;
  }
  .info-circle .info-blocks {
    top: 48px;
    width: calc(100% - 69px);
  }
  .info-circle .info-blocks > div:nth-of-type(odd) {
    transform: translate(0, 0);
  }
  .info-circle .info-blocks > div:nth-of-type(n) {
    position: static;
    width: 100%;
    margin-bottom: 65px;
  }
  .info-circle .info-blocks > div:nth-of-type(2n+1) .info-icon {
    float: left;
    margin-left: 0px;
    margin-right: 0.9rem;
  }
  .info-circle .info-text {
    float: left;
    width: calc(100% - 108px);
    margin-top: 4px;
    margin-right: 0rem;
  }
  .info-circle .info-text .title {
    font-size: 1.5rem;
    margin: 24px 1rem 0;
    text-align: left;
  }
  .info-circle .info-blocks > div:nth-of-type(even){
    transform: translate(0);
  }
  .info-circle .info-text.title-only{
    margin-top: 0;
  }

  .flex-card-k-premium{
    gap: 1rem;
    margin-top: 3rem;
  }

  .flex-card-industries{
    justify-content: space-evenly;
    padding-bottom: 0;
  }
  .card-industries{
    position: initial;
  }
  .carousel-testimonials_text{
    height: 120px;
  }

  table.dataTable.no-footer{
    width: 100% !important;
  }
  table.dataTable tbody td{
    vertical-align: middle;
  }

  .card-document{
    margin-bottom: 2.5rem;
  }
  .section-healthcare-experiencies .card-k_grid{
    padding: 0;
  }
  .section-healthcare-experiencies{
    background-position: 44% 40%;
  }
  .card-k_grid-alternative{
    row-gap: 2rem;
    margin-top: 3rem;
  }
  .section-insurance{
    padding-top: 3rem;
  }
  .insurance-img_desktop{
    display: none;
  }
  .insurance-img_movil{
    display: block;
  }
  .figure-education{
    height: 100%;
  }
  .form-box{
    padding: 2rem;
  }
  .card-career{
    margin-bottom: 1.5rem;
  }
  // .box-video-movil{
  //   height: auto;
  // }
  .table-k_box{
    width: 100%;
  }
  .btn-contact-us{
    top: 36%;
  }
  .carousel-control-prev{
    left: 0;
  }
  .carousel-control-next{
    right: 0;
  }
  .navbar-k .navbar-nav .nav-link-k.active::before{
    display: none;
  }
}


@media screen and(min-width: 768px) {
  
}

@media screen and(max-width: 1024px) {
  .container-k{
    max-width: 1024px;
  }
  .navbar-k .navbar-nav .nav-link-k:hover::before{
    display: none;
  }
}