.card-k_grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
  width: 100%;
}
.card-k{
  background-color: var(--black-two);
  border-radius: 4px;
  color: var(--white-one);
  height: 166px;
  padding: 2rem;
  text-align: center;
  transition: color 0.5s ease-in-out;
  width: 240px;

  &:hover{
    background-color: var(--color-primary);
    border-color: var(--color-primary);

    & .card-k_icon i{
      color: var(--white-one);
    }
  }
}

.card-k_icon{

  i{
    color: var(--color-primary);
    font-size: 2.25rem;
  }
}
.card-icon_alt{
  align-items: center;
  border: solid 2px var(--color-primary);
  border-radius: 50%;
  display: flex;
  height: 64px;
  justify-content: center;
  margin: 0 auto 8px;
  width: 64px;
  transition: all 0.6s;
}

.card-k:hover .card-icon_alt{
  border-color: #fff;
  transform: rotate3d(0, 1, 0, 180deg);
}

// CARD PREMIUM START
.flex-card-k-premium{
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  margin: 6rem 0 0;
}
.card-k-premium{
  color: var(--white-one);
  flex: 0 0 160px;

  &_icon{
    color: var(--color-primary);
    font-size: 24px;
    text-align: center;
  }

  p{
    font-weight: 600;
    text-align: center;
  }
}
// CARD PREMIUM END


.link-services{
  color: #fff;
  color: var(--color-primary);
  font-weight: 700;

  &:hover{
    color: #fdd835;
  }
}

// CARD INDUSTRIES START
.flex-card-industries{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 4rem;
  padding: 0rem 0 12rem;
}
.card-industries{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 129px;

  p{
    color: var(--white-one);
    text-align: center;
  }

}
.card-industries_link{
  background: linear-gradient(138.9deg, #F4631E 32.28%, #FDB600 85.57%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;

  i{
    color: var(--white-one);
    font-size: 40px;
  }

  &:hover{
    background: linear-gradient(138.9deg, #FDB600 32.28%, #F4631E 85.57%);
  }
}

.card-industries:nth-child(1),
.card-industries:nth-child(7){
  top: 12rem;
}
.card-industries:nth-child(2),
.card-industries:nth-child(6){
  top: 8rem;
}
.card-industries:nth-child(3),
.card-industries:nth-child(5){
  top: 4rem;
}
// CARD INDUSTRIES END

.grid-card_team{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 6rem;
  gap: 4rem;
}
.card-team{
  border-radius: 8px;
  overflow: hidden;
  // transition: all 0.3s;
  width: 350px;

  &:hover img{
    transform: scale(1.1);
  }
}
.card-team_figure{
  margin: 0;
  overflow: hidden;

  img{
    max-width: 100%;
    transition: all 0.3s;
  }
}

.card-team_body{
  background: var(--black-three);
  padding: 1.5rem 1rem;
  text-align: center;
}
.card-team_name{
  color: var(--color-primary);
  font-weight: 700;
  font-size: 1.25rem;
}

.card-team_profile{
  color: var(--white-one);
  margin: 0;
}
.card-team_social{
  margin-top: 12px;
}
.card-team_link{
  align-items: center;
  // background: var(--black-three);
  border-radius: 4px;
  color: var(--gray-two);
  display: flex;
  justify-content: center;
  height: 32px;
  margin: auto;
  width: 32px;

  &:hover{
    color: var(--gray-three);
  }

  i{
    font-size: 24px;
  }
}

.card-blog{
  color: var(--white-one);
  margin-bottom: 3rem;
}
.card-blog_title{
  font-weight: 600;
}
.card-blog_figure{
  height: 332px;

  img{
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
.card-blog_link{
  border: solid 1px var(--color-primary);
  border-radius: 4px;
  color: var(--color-primary);
  font-weight: 600;
  max-width: max-content;
  padding: 16px;
  text-transform: uppercase;
  transform: all 0.3s ease-in-out;

  &:hover{
    background-color: var(--color-primary);
    color: var(--white-one);
  }
}

// .card-document{

// }
.card-document_number{
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 50%;
  color: var(--white-one);
  display: flex;
  font-size: 2.25rem;
  font-weight: 700;
  height: 120px;
  justify-content: center;
  margin: 0 auto 1rem;
  width: 120px;
}
.card-document_text{
  color: var(--white-one);
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 24px;
  text-align: center;
}

.card-item{
  background: #000;
  border-radius: 8px;
  color: var(--white-one);
  display: flex;
  gap: 12px;
  height: 150px;
  margin-bottom: 1rem;
  padding: 1.2rem;
}
.card-item_figure{
  align-items: center;
  color: var(--color-primary);
  display: flex;
  height: 30px;
  width: 60px;
  margin: 0;

  i{
    font-size: 30px;
  }
}
.card-item_title{
  font-size: 1.25rem;
}
.card-item_copy{
  font-size: 0.875rem;
  margin: 0;
}
.card-item_feature{
  align-items: center;
  height: 80px;

  .card-item_title{
    margin: 0;
  }
}

.card-k_grid-alternative{
  gap: 4rem 8rem;
  margin-top: 6rem;
}
.card-k_alternative{
  background: linear-gradient(90deg, #F4631E 10%, #FDB600 90%);
  display: flex;
  gap: 12px;
  height: max-content;
  font-weight: 600;
  padding: 1.25rem;

  .card-k_icon i{
    color: var(--white-one);
  }
}


// card careers
.card-career{
  background-color: var(--black-three);
  border-radius: 8px;
  color: var(--white-one);
  padding: 2rem;
}

.card-career_header{
  
  h2{
    font-size: 24px;
    font-weight: 700;
  }
  h3{
    font-size: 16px;
    font-weight: 600;
  }
}
.card-career_body{
  height: 120px;
  margin: 1rem 0;

  li{
    font-size: 1rem;
    list-style: disc;
    margin-bottom: 1rem;

    &::marker{
      color: var(--color-primary);
    }
  }
}

.card-career_footer{
  font-size: 16px;
  font-weight: 600;
}