.footer{
 background-color: var(--black-two);
 color: var(--white-one);
 padding: 4rem 0;
}

.footer-logo{
  margin-bottom: 12px;
  width: 50%;
}

.footer-company{

  p{
    font-size: 12px;
  }
}
.footer-data{

  max-width: 240px;
  padding: 0;
  width: 100%;

  li{
    // vertical-align: middle;
    align-items: center;
    display: flex;
    gap: 12px;
    margin-bottom: 1rem;
  }

  i{
    color: var(--color-primary);
    font-size: 20px;
  }
  span, p{
    font-size: 0.875rem;
  }
}

.footer-title{
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  margin-left: 2rem;
}

.footer-redes{
  align-items: center;
  display: flex;
  gap: 12px;
}
.box-redes{
  align-items: center;
  display: flex;
  gap: 12px;
  justify-content: center;

  a{
    align-items: center;
    // border: solid 1px #fff;
    border-radius: 50%;
    color: #fff;
    display: flex;
    height: 2rem;
    justify-content: center;
    width: 2rem;
    transition: all 0.3s ease-in-out;

    &:hover{
      background: var(--color-primary);
      border-color: var(--color-primary);
      color: #222;
    }
  }
}

.footer-ul{
  padding: 0;
  margin-left: 2rem;

  li{
    margin-bottom: 0.75rem;
    position: relative;
    left: 12px;

    &::before{
      content: '';
      background-color: var(--color-primary);
      border-radius: 8px;
      height: 5px;
      width: 5px;
      position: absolute;
      top: 11px;
      left: -12px;
    }
  }

  a{
    display: inline-block;
    font-size: 0.875rem;
    position: relative;

    &:hover{
      color: var(--white-one);
    }
  }
  a::before{
    content: '';
    background-color: var(--color-primary);
    bottom: -2px;
    height: 1px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 0;
  }

  a:hover::before{
    width: 100%;
  }
}

// copyright
.section-copyght{
  background-color: var(--black-three);
  color: var(--white-one);
  padding: 1rem 0;

  p{
    font-size: 14px;
    margin: 0;
    text-align: center;
  }
}
.copyright{
  align-items: center;
  color: var(--gray-one);
  display: flex;
  justify-content: space-between;
}