.section-outstanding{
  margin: 8rem 0;
  padding: 4rem 0;
  position: relative;

  &::before{
    content: '';
    background-color: var(--color-primary);
    height: 260px;
    margin: auto;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}

.text-outstanding{
  color: var(--black-one);
  font-weight: 500;
  font-size: 1.6rem;
  padding: 0 12rem;
  text-align: center;
}