.section-solution{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/services-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


// .box-solution{
//   border-radius: 4px;
//   margin-bottom: 1.5rem;
//   padding: 2rem;
// }

// .box-solution_one{
//   background: var(--gray-six);
// }
// .box-solution_two{
//   background: var(--black-one);
//   color: var(--white-one);
// }
// .box-solution_three{
//   background: var(--gray-six);
// }