.section-speak-now{
  background: center / cover url(./../images/bg-speak-now.jpg) no-repeat;
  height: 390px;
  margin-top: 7rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.section-speak-now_industries{
  background: url(./../images/industries.png) no-repeat;
  background-size: contain;
  height: 273px;
}